.darkBtn {
  display: block;
  width: 100%;
  border-radius: 8px;
  padding: 12px 0;
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  background-color: var(--color-brown-500);
  color: var(--color-white);
}
.darkBtn:hover {
  background: var(--color-brown-700);
}
.darkBtn:focus {
  background: var(--color-brown-500);
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px var(--color-white);
}
