.button {
  border-radius: 8px;
  border:none;
  font-weight: 600;
  font-size: 16px;
  transition: all .25s cubic-bezier(.4,0,.2,1);
}
.button:focus {
  outline: none;
}
.button:disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

/* Варианты */
.darkButton {
  background: var(--color-brown-500);
  color: var(--color-white);
}

.darkButton:hover {
  background: var(--color-brown-700);
}

.darkButton:focus {
  background: var(--color-brown-500);
  box-shadow: 0 4px 10px #0000004d;
}

.darkButton:disabled {
  background: var(--color-brown-500);
  box-shadow: 0 4px 10px #0000004d;
}


.lightButton {
  border: 1px solid var(--color-black);
  color: var(--color-black);
  background: transparent;
}

.lightButton:hover {
  background: var(--color-brown-700);
  border-color: var(--color-brown-700);
  color: var(--color-white);
}

.lightButton:focus {
  background: var(--color-brown-500);
  color: var(--color-white);
  border-color: var(--color-brown-700);
  box-shadow: 0 4px 10px #0000004d;
}

.lightButton:disabled {
  background:  var(--color-brown-500);
  color: var(--color-white);
  border-color: var(--color-brown-700);
  box-shadow:0 4px 10px #0000004d;
}

