.nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.link {
  display: inline-block;
  color: var(--color-white);
  font-size: 16px;
  font-weight: 600;
}

.active {
  border-bottom: 2px solid var(--color-white);
}

@media screen and (min-width: 768px) {
  .nav {
    flex-direction: row;
    justify-content: flex-end;
    gap: 24px;
    margin-bottom: 0;
  }
  .link {
    font-size: 12px;
  }
  
}
@media screen and (min-width: 1440px) {
  .nav {
    gap: 32px;
  }
}