.header {
  position: relative;
  background-color: #3d2218; /* var(--Darck-brown) */
  min-height: 74px;
  padding: 16px 0;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btnSvg {
  border: none;
  background-color: transparent;
  padding: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 32px;
  height: 32px;
  stroke: var(--color-white);
}

.desktopTabletNav {
  display: flex;
  gap: 32px;
  align-items: center;
}