.header {
  position: relative;
  background: var(--badges);
  min-height: 68px;
  width: 100%;
  padding: 24px 0px;
  border-bottom: 1px solid var(--badges);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 960px;
}
