.container {
  display: block;
  width: 924px;
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 56px;
}
.filtersForm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--gray);
}
.labelInput {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: var(--gray);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.containerInput {
  display: flex;
}
.containerSelect {
  position: relative;
  display: inline-block;
  width: 100%;
}
.inputLeft {
  border-right: 1px solid var(--gray-light);
  border-radius: 12px 0 0 12px;
  width: 160px;
  height: 44px;
  background: var(--inputs);
  outline: none;
  border-top: none;
  border-bottom: none;
  border-left: none;
  font-weight: 500;
  font-size: 16px;
  padding-left: 24px;
}
.input {
  border-radius: 0 12px 12px 0;
  width: 160px;
  height: 44px;
  background: var(--inputs);
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  padding-left: 24px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  appearance: textfield;
}
.inputLeft::placeholder,
.input::placeholder {
  color: var(--main);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 156px;
  height: 44px;
}