@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat-v30-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat-v30-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/montserrat-v30-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

:root {
  /* Typography */
  --font-family: "Montserrat", sans-serif;

  /* Neutral colors */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-bg-light: #fbfcf8;

  /* Brown palette */
  --color-brown-500: #9b6c43;
  --color-brown-700: #6d554b;
  /*500 — базовый, основной цвет (часто используется как default)
  700 — тёмный оттенок этого цвета */

  /* Container paddings */
  --padding-mobile: 10px;
  --padding-tablet: 15px;

  /* Container widths */
  --max-width-mobile: 380px; /* 360 контент (по макету) + 2*10 падинги */
  --max-width-tablet: 735px; /* 705 контент (по макету) + 2*15 падинги */
  --max-width-desktop: 1254px; /* 1224 контент (по макету) + 2*15 падинги */

  /* Section padding */
  --section-padding: 48px;
}


html,
body,
#root {
  height: 100%;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-bg);
  color: var(--color-text);
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
}

svg {
  fill: none;
}

.container {
  min-width: 320px;
  max-width: var(--max-width-mobile);
  padding-left: var(--padding-mobile);
  padding-right: var(--padding-mobile);
  margin: 0 auto;
}
.section {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}

@media screen and (min-width: 768px) {
  .container {
    max-width: var(--max-width-tablet);
    padding-left: var(--padding-tablet);
    padding-right: var(--padding-tablet);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: var(--max-width-desktop);
  }
}
