/* Варианты button */
.darkButtonSvg {
  background: var(--color-brown-500);
  color: var(--color-white);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.darkButtonSvg:hover {
  background: var(--color-brown-700);
}

.darkButtonSvg:focus {
  background: var(--color-brown-500);
  box-shadow: 0 4px 10px #0000004d;
  outline: none;
}

.darkButtonSvg:disabled {
  background: var(--color-brown-500);
  box-shadow: 0 4px 10px #0000004d;
  cursor: not-allowed;
  opacity: 0.3;
}


.lightButtonSvg {
  border: 1px solid var(--color-black);
  color: var(--color-black);
  background: transparent;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.lightButtonSvg:hover {
  background: var(--color-brown-700);
  border-color: var(--color-brown-700);
  color: var(--color-white);
}

.lightButtonSvg:focus {
  background: var(--color-brown-500);
  color: var(--color-white);
  border-color: var(--color-brown-700);
  box-shadow: 0 4px 10px #0000004d;
  outline: none;
}

.lightButtonSvg:disabled {
  background: var(--color-brown-500);
  color: var(--color-white);
  border-color: var(--color-brown-700);
  box-shadow: 0 4px 10px #0000004d;
  cursor: not-allowed;
  opacity: 0.3;
}


/* Варианты svg */
.darkSvg {
  stroke: var(--color-black);
  stroke-width: 1px;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.darkSvg:hover,
.darkSvg:focus {
  stroke: var(--color-white);
}

.lightSvg {
  stroke-width: 1px;
  stroke: var(--color-white);
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.lightSvg:hover,
.lightSvg:focus {
  stroke: var(--color-black);
}
